/* Import fonts google */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');

$shape:inherit;
@mixin montserrat($color, $size, $height, $weight, $shape) {
  color:$color;
  font:$weight #{$size}/#{$height} 'Montserrat', sans-serif;
  text-transform:$shape;
}
@mixin ptserif($color, $size, $height, $weight, $shape) {
  color:$color;
  font:$weight #{$size}/#{$height} 'PT Serif', sans-serif;
  text-transform:$shape;
}

/* mixin para sprites */
@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  background-repeat: no-repeat;
}
// extend
@mixin setWidth ($width){
  float: left;
  width: $width;
}

// gradient
@mixin gradient-vertical($start-color: #555, $end-color: #333) {
  background-image: -webkit-linear-gradient(top, $start-color 0%, $end-color 100%);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color 0%, $end-color 100%);  // Opera 12
  background-image: linear-gradient(to bottom, $start-color 0%, $end-color 100%); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

// center align
@mixin centeralign() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//
@mixin halfbackground($height: 50%) {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: $height;
    background: $brown-light;
  }
}

// Gutter vertical
%vertical-gutter{
  padding-top: 20px;
  padding-bottom: 20px;
  @media (min-width: $sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media (min-width: $md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

%icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
