/* Colors
========================================================================== */

$brown-light:       #f8f4ed;
$brown:             #DED8CD;
$pink-footer:       #F4ECF5;
$gray-purple:       #DDCDDB;

$purple-lighter:    #f0e7f1;
$purple-light:      #80176b;
$purple:            #6c1b5c;
$purple-dark:       #611852;

$purple-darker:     #483745;

$orange:            #ff8e0a;


// red
$red:         #c62828;
$medium-red:  #790002;
$dark-red:    #6e0002;

// green
$green:       #54B947;

// grey
$grey-body:   #f7f7f7;
$grey:        #dedede;
$medium-grey: #433C42;
$dark-grey:   #363636;

$gray-darker:       #262025;


/* Grid
========================================================================== */
$sm:  48em;
$md:  62em;
$lg:  75em;
$xlg: 90rem;

$gutter-width: 2rem;

/* Weights
========================================================================== */

$thin: 100;
$extraliht: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

/* Effects
========================================================================== */

$ease-fx: cubic-bezier(.33,.07,.35,.69);

/* Icons
========================================================================== */
$icomoon-font-path: "../../assets/fonts/icomoon/fonts";
