@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rg91gd');
  src:  url('fonts/icomoon.eot?rg91gd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rg91gd') format('truetype'),
    url('fonts/icomoon.woff?rg91gd') format('woff'),
    url('fonts/icomoon.svg?rg91gd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-folder-stroke:before {
  content: "\e927";
}
.i-store:before {
  content: "\e926";
}
.i-envelope:before {
  content: "\e925";
}
.i-phone:before {
  content: "\e924";
}
.i-query:before {
  content: "\e91d";
}
.i-car-wheel:before {
  content: "\e91e";
}
.i-accessibility:before {
  content: "\e91f";
}
.i-wifi:before {
  content: "\e920";
}
.i-mic:before {
  content: "\e921";
}
.i-bill:before {
  content: "\e922";
}
.i-family:before {
  content: "\e923";
}
.i-close:before {
  content: "\e91c";
}
.i-trophy:before {
  content: "\e918";
}
.i-clapperboard:before {
  content: "\e919";
}
.i-masks:before {
  content: "\e91a";
}
.i-screen:before {
  content: "\e91b";
}
.i-play:before {
  content: "\e917";
}
.i-info:before {
  content: "\e916";
}
.i-settings:before {
  content: "\e915";
}
.i-apple:before {
  content: "\e900";
}
.i-arrow:before {
  content: "\e901";
}
.i-clock:before {
  content: "\e902";
}
.i-contact:before {
  content: "\e903";
}
.i-drop-arrow:before {
  content: "\e904";
}
.i-events:before {
  content: "\e905";
}
.i-facebook:before {
  content: "\e906";
}
.i-folder:before {
  content: "\e907";
}
.i-gastronomy:before {
  content: "\e908";
}
.i-google-play:before {
  content: "\e909";
}
.i-google-plus:before {
  content: "\e90a";
}
.i-happy:before {
  content: "\e90b";
}
.i-instagram:before {
  content: "\e90c";
}
.i-leaf:before {
  content: "\e90d";
}
.i-lock:before {
  content: "\e90e";
}
.i-marker:before {
  content: "\e90f";
}
.i-movie-roll:before {
  content: "\e910";
}
.i-points:before {
  content: "\e911";
}
.i-search:before {
  content: "\e912";
}
.i-twitter:before {
  content: "\e913";
}
.i-youtube:before {
  content: "\e914";
}
