@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?rg91gd');
  src:  url('#{$icomoon-font-path}/icomoon.eot?rg91gd#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?rg91gd') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?rg91gd') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?rg91gd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-folder-stroke {
  &:before {
    content: $i-folder-stroke; 
  }
}
.i-store {
  &:before {
    content: $i-store; 
  }
}
.i-envelope {
  &:before {
    content: $i-envelope; 
  }
}
.i-phone {
  &:before {
    content: $i-phone; 
  }
}
.i-query {
  &:before {
    content: $i-query; 
  }
}
.i-car-wheel {
  &:before {
    content: $i-car-wheel; 
  }
}
.i-accessibility {
  &:before {
    content: $i-accessibility; 
  }
}
.i-wifi {
  &:before {
    content: $i-wifi; 
  }
}
.i-mic {
  &:before {
    content: $i-mic; 
  }
}
.i-bill {
  &:before {
    content: $i-bill; 
  }
}
.i-family {
  &:before {
    content: $i-family; 
  }
}
.i-close {
  &:before {
    content: $i-close; 
  }
}
.i-trophy {
  &:before {
    content: $i-trophy; 
  }
}
.i-clapperboard {
  &:before {
    content: $i-clapperboard; 
  }
}
.i-masks {
  &:before {
    content: $i-masks; 
  }
}
.i-screen {
  &:before {
    content: $i-screen; 
  }
}
.i-play {
  &:before {
    content: $i-play; 
  }
}
.i-info {
  &:before {
    content: $i-info; 
  }
}
.i-settings {
  &:before {
    content: $i-settings; 
  }
}
.i-apple {
  &:before {
    content: $i-apple; 
  }
}
.i-arrow {
  &:before {
    content: $i-arrow; 
  }
}
.i-clock {
  &:before {
    content: $i-clock; 
  }
}
.i-contact {
  &:before {
    content: $i-contact; 
  }
}
.i-drop-arrow {
  &:before {
    content: $i-drop-arrow; 
  }
}
.i-events {
  &:before {
    content: $i-events; 
  }
}
.i-facebook {
  &:before {
    content: $i-facebook; 
  }
}
.i-folder {
  &:before {
    content: $i-folder; 
  }
}
.i-gastronomy {
  &:before {
    content: $i-gastronomy; 
  }
}
.i-google-play {
  &:before {
    content: $i-google-play; 
  }
}
.i-google-plus {
  &:before {
    content: $i-google-plus; 
  }
}
.i-happy {
  &:before {
    content: $i-happy; 
  }
}
.i-instagram {
  &:before {
    content: $i-instagram; 
  }
}
.i-leaf {
  &:before {
    content: $i-leaf; 
  }
}
.i-lock {
  &:before {
    content: $i-lock; 
  }
}
.i-marker {
  &:before {
    content: $i-marker; 
  }
}
.i-movie-roll {
  &:before {
    content: $i-movie-roll; 
  }
}
.i-points {
  &:before {
    content: $i-points; 
  }
}
.i-search {
  &:before {
    content: $i-search; 
  }
}
.i-twitter {
  &:before {
    content: $i-twitter; 
  }
}
.i-youtube {
  &:before {
    content: $i-youtube; 
  }
}

