$icomoon-font-path: "fonts" !default;

$i-folder-stroke: "\e927";
$i-store: "\e926";
$i-envelope: "\e925";
$i-phone: "\e924";
$i-query: "\e91d";
$i-car-wheel: "\e91e";
$i-accessibility: "\e91f";
$i-wifi: "\e920";
$i-mic: "\e921";
$i-bill: "\e922";
$i-family: "\e923";
$i-close: "\e91c";
$i-trophy: "\e918";
$i-clapperboard: "\e919";
$i-masks: "\e91a";
$i-screen: "\e91b";
$i-play: "\e917";
$i-info: "\e916";
$i-settings: "\e915";
$i-apple: "\e900";
$i-arrow: "\e901";
$i-clock: "\e902";
$i-contact: "\e903";
$i-drop-arrow: "\e904";
$i-events: "\e905";
$i-facebook: "\e906";
$i-folder: "\e907";
$i-gastronomy: "\e908";
$i-google-play: "\e909";
$i-google-plus: "\e90a";
$i-happy: "\e90b";
$i-instagram: "\e90c";
$i-leaf: "\e90d";
$i-lock: "\e90e";
$i-marker: "\e90f";
$i-movie-roll: "\e910";
$i-points: "\e911";
$i-search: "\e912";
$i-twitter: "\e913";
$i-youtube: "\e914";

