

.call-to-action {
  .cta-title {
    @include ptserif($purple-darker, 26px, 1.25, $bold, $shape);
    font-style: italic;
    text-align: left;
  }
  .cta-app {
    margin-bottom: 20px;
  }
  .form-news {
    margin-bottom: 20px;
    .form-news-title {
      margin-bottom: 20px;
    }
    .btn {
      margin-top: 10px;
    }
  }
  @media (min-width: $sm) {
    .cta-app {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .form-news {
      margin-bottom: 50px;
    }
    .cta-title {
      font-size: 3.4em;
    }
  }
  @media (min-width: $md) {
    background: url(../img/layout/app-shopping-guararapes.png) no-repeat;
    background-position: center center;
    min-height: 550px;
    padding-top: 55px;
    margin: 70px 0 100px;
    .cta-app {
      margin-top: 0;
      .cta-app-title,
      .cta-app-content {
        margin-bottom: 25px;
      }
      .cta-app-content {
        font-size: 1.6em;
        font-weight: $light;
        line-height: 1.9;
      }
      .btn{
        width: 100%;
        margin-bottom: 30px;
      }
    }
    
    .form-news {
      max-width: 270px;
      .form-news-title,
      input,
      .btn {
        width: 100%;
      }
    }
  }
}