.btn{
  outline: 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;

  &.btn-default {
    position: relative;
    border: none;
    border-radius: 2px;
    background: $purple;
    color: white;
    padding: 24px 75px 24px 24px;
    font-weight: $medium;
    font-size: 1.8em; // 12px
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s $ease-fx;
    &:hover {
      color: $orange;
      .icon {
        color: white;
      }
    }
    .icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 55px;
      height: 100%;
      color: $orange;
      background: rgba(0,0,0,.1);
      border-radius: 0 2px 2px 0;
      transition: all .3s $ease-fx;
      &:before {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    @media (min-width: $sm) {
      font-size: 1.2em;
    }
  }

  &.btn-back {
    background: transparent;
    color: $purple;
    padding: 10px 0 10px;
    font-weight: $medium;
    font-size: 1.55em;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s $ease-fx;
    &:hover {
      color: $orange;
    }
    .icon{
      transition: all .3s $ease-fx;
      margin-right: 15px;
      &:before {
        transform: rotate(-180deg);
      }
    }
    @media (min-width: $md) {
      font-size: 1em;
    }
  }

  &.btn-clean {
    position: relative;
    border: 1px solid $gray-purple;
    border-radius: 2px;
    background: transparent;
    color: $purple;
    padding: 20px 60px 20px 20px;
    font-weight: $medium;
    font-size: 1.55em;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s $ease-fx;
    &:hover {
      color: $orange;
      border-color: $purple;
      .icon {
        color: $orange;
      }
    }
    .icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 55px;
      height: 100%;
      color: $purple;
      transition: all .3s $ease-fx;
      &:before {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    @media (min-width: $sm) {
      font-size: 1em;
    }
  }

  &.btn-attach {
    position: absolute;
    right: 0;
    max-height: 100%;
    border-left: 1px solid $gray-purple;
    background: transparent;
    color: $purple;
    padding: 20px 65px 20px 20px;
    font-weight: $medium;
    font-size: 1.55em;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s $ease-fx;
    .icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 55px;
      height: 100%;
      color: $purple;
      transition: all .3s $ease-fx;
      &:before {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    @media (min-width: $md) {
      font-size: 1em;
    }
  }

  &.btn-filter {
    border-radius: 25px;
    background: $brown-light;
    color: $purple-darker;
    font-weight: $medium;
    font-size: 1.8em; // 12px
    padding: 15px 25px;
    text-transform: uppercase;
    transition: all .3s $ease-fx;
    &:hover {
      background: $purple;
      color: white;
      .icon {
        color: $orange;
      }
    }
    .icon {
      vertical-align: middle;
      font-size: 1.2em;
      margin-right: 15px;
      transition: all .3s $ease-fx;
    }
    @media (min-width: $md) {
      font-size: 1.2em;
    }
  }

  &.btn-cta-app {
    position: relative;
    color: $purple-darker;
    padding-left: 35px;
    .icon{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      font-size: 2.6em;
      color: $purple;
    }
    span {
      display: inline-block;
      font-size: 1em;
      text-transform: uppercase;
      &:last-child {
        font-size: 1.4em;
        margin-top: 5px;
        text-transform: none;
      }
    }
  }

  &.btn-play {
    width: 50px;
    height: 50px;
    font-size: 9em;
    color: white;
    background: transparent;
    padding: 0;
    .icon {
      @include centeralign();
    }
    @media (min-width: $md) {
      width: 60px;
      height: 60px;
      font-size: 8em;
    }
  }

  &.btn-plus {
    background: transparent;
    border: none;
    padding: 0;
    color: $orange;
    font-weight: $bold;
    font-size: inherit;
  }

  &.btn-close {
    background: none;
    border: none;
    color: $purple;
    opacity: .2;
  }

  &.btn-card {
    background: transparent;
    color: $gray-purple;
    text-transform: uppercase;
    font-size: 1.55em;
    transition: color .3s $ease-fx;
    &:hover {
      color: $purple;
    }
    .icon {
      margin-left: 15px;
    }
    @media (min-width: $md) {
      font-size: 1em;
    }
  }

  &.btn-more {
    background: transparent;
    color: $purple;
    padding: 10px 0 10px;
    font-weight: $medium;
    font-size: 1.55em;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s $ease-fx;
    &:hover {
      color: $orange;
    }
    .icon{
      transition: all .3s $ease-fx;
      margin-left: 15px;
    }
    @media (min-width: $md) {
      font-size: 1em;
    }
  }

  &.btn-control {
    position: relative;
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid $gray-purple;
    color: $purple;
    transition: all .3s $ease-fx;
    &:hover {
      &:not(.disabled) {
        background: $orange;
        .icon {
          &:before,
          &:after {
            background: white;
          }
        }
      }
    }
    &.disabled {
      opacity: .6;
    }
    .icon {
      @include centeralign();
      &:before,
      &:after {
        transition: all .3s $ease-fx;
      }
    }

    @media (min-width: $sm) {
      width: 50px;
      height: 50px;
    }
  }

  &.btn-menu{
    z-index: 99999;
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 80px;
    background: none;
    transition: background .15s $ease-fx;
    &.open{
      background: $purple;
      .btn-inner {
        transform: rotate(90deg);
        background-color: transparent;
        transition: transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s, background-color 0s linear 0.15s;
        &:after, &:before {
          background-color: white;
        }
        &:before {
          top: 0;
          transform: rotate(-45deg);
          transition: top 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
        }
        &:after {
          bottom: 0;
          transform: rotate(45deg);
          transition: bottom 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
        }
      }
    }
    .btn-box{
      position: relative;
      display: inline-block;
      width: 19px;
      height: 15px;
    }
    .btn-inner{
      top: 50%;
      display: block;
      margin-top: -2px;
      position: absolute;
      width: 19px;
      height: 3px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      background-color: $medium-grey;
      transition: transform .15s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, background-color .15s $ease-fx;
      &:after, &:before {
        display: block;
        content: "";
        position: absolute;
        width: 19px;
        height: 3px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform, background-color;
        background-color: $medium-grey;
      }
      &:before {
        top: -6px;
        transition: background-color .15s $ease-fx, top .3s ease-in .15s, transform .15s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
      }
      &:after {
        bottom: -6px;
        transition: background-color .15s $ease-fx, bottom .15s ease-in .15s, transform .15s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
      }
    }
    .btn-title{
      display: none;
    }
  }
}
