.card {
  &.card-service {
    position: relative;
    padding: 30px 15px;
    border: 1px solid $gray-purple;
    border-radius: 5px;
    text-align: center;
    background: white;
    display: block;
    text-decoration: none;
    transition: all .3s $ease-fx;
    &:hover,
    &.open {
      background: $purple;
      .icon-thumb {
        background: white;
        color: $orange;
      }
      .card-title {
        span {
          color: white;
        }
      }
      .btn {
        color: orange;
      }
    }
    &:after {
      content: '';
      z-index: 9;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0) rotate(-45deg);
      width: 7px;
      height: 7px;
      background: white;
      border-top: 1px solid $gray-purple;
      border-right: 1px solid $gray-purple;
      opacity: 0;
      transition: all .3s .3s $ease-fx;
    }
    &.open {
      &:after {
        bottom: -2.4rem;
        opacity: 1;
      }
    }
    .icon-thumb {
      position: relative;
      display: inline-block;
      border-radius: 50%;
      width: 75px;
      height: 75px;
      margin-right: 10px;
      background: $brown-light;
      color: $purple;
      font-size: 4.25em; // 28px
      transition: all .3s $ease-fx;
      &:before {
        @include centeralign();
      }
    }
    .card-title {
      display: flex;
      align-items: center;
      margin: 35px 0;
      text-decoration: none;
      span {
        @include ptserif($purple, 2.73em, 1.2, $regular, $shape); // 18px
        display: inline-block;
        width: 100%;
        transition: all .3s $ease-fx;
      }
    }

    @media (min-width: $sm) {
      .card-title {
        min-height: 50px;
        span {
          font-size: 2em;
        }
      }
    }

    @media (min-width: $md) {
      .icon-thumb {
        width: 116px;
        height: 116px;
        font-size: 4.5em;
        margin-top: 20px;
      }
      .card-title {
        min-height: 65px;
        span {
          font-size: 2.2em;
        }
      }
    }
  }
  &.card-route {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 15px;
    margin-bottom: 1.5rem;
    border: 1px solid $gray-purple;
    border-radius: 5px;
    text-align: center;
    background: white;
    text-decoration: none;
    height: 180px;
    transition: all .3s $ease-fx;
    &:hover,
    &.open {
      background: $purple;
      .card-title {
        color: white;
      }
      .btn {
        color: orange;
      }
    }
    .card-title {
      text-decoration: none;
      @include ptserif($purple, 3.33em, 1.2, $regular, $shape); // 22px
      display: inline-block;
      width: 100%;
      transition: all .3s $ease-fx;
    }

    @media (min-width: $sm) {
      margin-bottom: 2rem;
      .card-title {
        font-size: 2em;
      }
    }

    @media (min-width: $md) {
      .icon-thumb {
        width: 116px;
        height: 116px;
        font-size: 4.5em;
        margin-top: 20px;
      }
      .card-title {
        font-size: 2.2em;
      }
    }
  }
}