.events-card {
  position: relative;
  &:hover {
    .event-flag {
      display: block;
    }
  }
  .events-date {
    font-size: 1.2em;
    line-height: 3;
    color: $purple;
    font-weight: $semibold;
    letter-spacing: 2px;
  }
  .event-flag {
    display: none;
    position: absolute;
    top: 18px;
    left: 0;
    background: $purple;
    padding: 10px 15px;
    border-radius: 0 10px 10px 0;
    color: white;
    font-size: 1.55em; // 10px
    text-transform: uppercase;
    letter-spacing: 1px;
    .icon {
      margin-right: 8px;
      font-size: 1.1em;
    }
  }
  .events-title {
    @include ptserif($purple, 2.2em, 1.5, $regular, $shape);
    letter-spacing: 1px;
  }

  @media (min-width: $sm) {
    .event-flag {
      font-size: 1em;
    }
  }
}

.slider-events {
  .slick-arrow {
    margin-top: -75px;
  }
}