.form-default {
  .field-wrapper,
  .btn-default {
    margin: 15px 0;
  }

  .btn-default {
    width: 100%;
    text-align: left;
  }

  .captcha {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    p {
      font-weight: $medium;
      font-size: 2.12em; // 14px
      width: 100%;
      margin: 10px 0 15px;
      text-align: center;
      &.invalid {
        color: $red;
      }
    }
  }

  @media (min-width: $sm) {
    .captcha {
      flex-wrap: nowrap;
      p {
        width: auto;
        font-size: 1.4em;
        margin: 0;
        text-align: left;
      }
    }
  }

}