.icon {
  // display: inline-block;
  // width: 20px;
  // height: 20px;
  // margin: 0 5px;
  // background: $orange;
  @extend %icon;

  &.i-less {
    position: relative;
    &:before {
      content: '';
      width: 12px;
      height: 2px;
      background: $purple;
      @include centeralign();
    }
  }

  &.i-plus {
    position: relative;
    &:before,
    &:after {
      content: '';
      width: 12px;
      height: 2px;
      background: $purple;
      @include centeralign();
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }
}

%icon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    display: inline-block;
  }
}