
.field-wrapper {
  position: relative;
  float: left;
  width: 100%;
  height: 55px;
  &.focused {
    .field-label {
      top: 15px;
      font-size: 1.35em; // 9px
      color: $purple;
      letter-spacing: 1px;
    }
  }
  &.invalid {
    .field-input {
      border-color: $red;
    }
  }
  &.disabled {
    background: $brown-light;
  }
  &.text-wrap {
    height: 100px;
  }

  &.fake-file-input {
    cursor: pointer;
    border: 1px solid $gray-purple;
    border-radius: 2px;
    transition: border-color .3s $ease-fx;
    &:hover {
      border-color: $purple;
      .btn {
        color: $orange;
        border-color: $purple;
        .icon {
          color: $orange;
        }
      }
    }
    input {
      appearance: none;
      opacity: 0;
      cursor: pointer;
    }
    .file-name {
      position: absolute;
      bottom: 10px;
      left: 25px;
      max-width: calc(100% - 40px);
      text-overflow: ellipsis;
      font-size: 1.8em; // 12px
    }
  }

  .field-label {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 2.12em; // 14px
    color: $purple-darker;
    font-weight: $medium;
    transition: all .3s $ease-fx;
  }
  .field-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid $gray-purple;
    outline: none;
    box-shadow: none;
    border-radius: 2px;
    font-size: 1.8em; // 12px
    transition: border-color .3s $ease-fx;
    &:not(select) {
      background: none;
      color: $purple-darker;
      padding: 30px 15px 10px 25px;
    }
  }

  textarea {
    &.field-input {
      height: 100px;
      resize: none;
    }
  }

  @media (min-width: $sm) {
    &.focused {
      .field-label {
        font-size: .9em;
      }
    }
    .field-label {
      font-size: 1.4em;
    }
    .field-input,
    &.fake-file-input .file-name {
      font-size: 1.2em;
    }
  }
}

.input-search-group {
  padding: 15px 45px 15px 10px;
  &.focused {
    .field-label {
      font-size: .8em;
    }
  }
  .input-search-label {
    text-transform: uppercase;
    font-size: 1em;
    color: $purple;
  }
  .easy-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 50px;
    .easy-autocomplete-container {
      top: 100%;
    }
    ul {
      li {
        padding: 8px 10px;
        transition: all .3s $ease-fx;
        .eac-item,b {
          transition: all .3s $ease-fx;
        }
        &.selected {
          background: $purple-light;
          .eac-item {
            color: white;
            b {
              color: white;
            }
          }
        }
      }
    }
  }
  .input-search,
  .input-search-internal {
    height: 50px;
    color: $purple;
    padding: 20px 45px 10px 10px;
    border: none;
    border-radius: 0;
  }
}

.chosen-header {
  position: relative;
  float: left;
  width: 100%;
  height: 50px;
  color: white;
  border: none;
  appearance: none;
  background: transparent url(../img/layout/drop-arrow.svg) calc(100% - 10px) 42% no-repeat;
  background-size: 10px 10px;
}

.chosen-container {
  font-size: 1em;
  .chosen-single {
    background: $purple-light !important;
    border: none !important;
    box-shadow: none !important;
    height: 50px;
    border-radius: 0;
    padding-left: 15px;
    span {
      position: absolute;
      top: 50%;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      transform: translate(0, -50%);
    }
    div {
      b {
        &:before {
          content: $i-drop-arrow;
          @extend %icon;
          color: $orange;
          font-size: 1em;
          position: absolute;
          top: 50%;
          right: 10px;
          margin-top: -5px;
          transform: translate(0, -50%);
        }
      }
    }
  }

  .chosen-results {
    li {
      padding: 8px;
      transition: all .3s $ease-fx;
      &.highlighted {
        background: $purple-light;
      }
    }
  }
}


.default-select {
  appearance: none;
  outline: none;
  border: 1px solid $gray-purple;
  padding: 0 30px 0 25px;
  color: $purple;
  font-size: 1.8em; // 12px
  font-weight: $medium;
  background: url(../img/layout/arrow-select.svg) calc(100% - 15px) 52% no-repeat;
  background-size: 11px 6px;

  @media (min-width: $sm) {
    font-size: 1.2em;
  }
}


.field-box-group {
  .field-box-wrapper {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.field-box-wrapper {
  position: relative;
  padding: 0 0 0 20px;
  display: inline-block;
  margin: 15px 0;
  .field-input {
    position: absolute;
    top: 0;
    left: 0;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid $gray-purple;
    border-radius: 2px;
    outline: 0;
    margin: 0;
    transition: border .3s $ease-fx;
    &:checked {
      border: 5px solid $purple;
    }
  }
  .field-label {
    display: inline-block;
    font-size: 1.8em;
    font-weight: $medium;
    margin-left: 20px;
    line-height: 1.667;
    a {
      color: $purple;
    }
  }
 
  @media (min-width: $sm) {
    .field-label {
      font-size: 1.2em;
    }
  }
}