.map-wrapper {
  position: relative;
  .map {
    width: 100%;
    height: 400px;
  }
  .map-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding: 1rem 0;
    .wrapper, .row {
      position: relative;
      height: 100%;
      align-items: flex-start;
    }
    
    .field-wrapper,
    .btn {
      margin-left: 1rem;
    }

    .field-wrapper {
      width: 270px;
      background: white;
      color: $purple-darker;
      &.focused {
        .field-label {
          top: 15px;
        }
      }
      .field-label {
        top: 23px;
        font-size: 1.55em; // 10px
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      &:before {
        content: $i-search;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        font-size: 14px;
        @extend %icon;
      }
    }

    .btn {
      position: absolute;
      left: 0;
      bottom: -370px;
    }
  }
  @media (min-width: $sm) {
    .map {
      height: 500px;
    }
    .map-controls {
      .field-wrapper {
        .field-label {
          font-size: 1em;
        }
      }
      .btn {
        bottom: -460px;
      }
    }
  }
}