.modal {
  z-index: 998;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;

  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,.8);
    cursor: pointer;
  }
  .modal-container {
    position: absolute;
    width: calc(100% - 2rem); 
    height: calc(100% - 2rem);
    max-width: 555px;
    max-height: 475px;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    padding: 30px;
    border-radius: 5px;
    @include centeralign();
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .modal-title {
    @include ptserif($purple-darker, 3.1em, 1.3, $bold, $shape); // 20px
    font-style: italic;
  }

  .modal-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
    .field-wrapper {
      margin-bottom: 15px;
      height: auto;
      label {
        @include ptserif($purple-darker, 2.42em, 1.3, $regular, $shape); // 16px
        margin-bottom: 8px;
        display: inline-block;
        font-style: italic;
      }

      .field-input {
        position: relative;
        height: 55px;
        font-size: 1.8em; // 12px
        font-weight: $medium;
      }
    }

    .btn {
      width: 100%;
      text-align: left;
    }
  }

  @media (min-width: $sm) {
    .modal-title {
      font-size: 2.4em;
    }
    .modal-content {
      .field-wrapper {
        label {
          font-size: 1.6em;
        }
        .field-input {
          font-size: 1.2em;
        }
      }
    }

  }
}