.movie-card {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 55px;

  &:hover {
    .movie-card-over {
      opacity: 1;
    }
  }

  .movie-card-over {
    overflow: hidden;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 55px);
    text-align: center;
    border-radius: 2px;
    transition: opacity .3s $ease-fx;
    &:before {
      content: $i-play;
      @include centeralign();
      @extend %icon;
      font-size: 200px;
      color: white;
      opacity: .4;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(55,55,55,.9);
    }
    .movie-card-over-title {
      position: relative;
      z-index: 2;
      font-size: 1.65em; // 11px
      font-weight: $medium;
      color: white;
      margin-bottom: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .movie-card-over-wrapper {
      @include centeralign();
      z-index: 2;
    }
    .movie-card-over-room {
      color: $orange;
      font-size: 1.8em; // 12px
      line-height: 1.4;
      font-weight: $bold;
      text-transform: uppercase;
    }
    .movie-card-over-next-sessions {
      position: relative;
     margin: 5px 0 25px;
      @include ptserif(white, 2.12em, 1.3, $bold, $shape); // 14px
      font-style: italic;
      &:last-child {
        &:after {
          content: '';
          position: absolute;
          bottom: -30px;
          left: 50%;
          transform: translate(-50%, 0);
          width: 20px;
          height: 4px;
          background: $orange;
        }
      }
    }

    @media (min-width: $sm) {
      &:before {
        font-size: 235px;
      }
      .movie-card-over-title {
        font-size: 1.1em;
      }
      .movie-card-over-room {
        font-size: 1.2em;
      }
      .movie-card-over-next-sessions {
        font-size: 1.4em;
      }
    }
  }

  img {
    display: block;
    margin: 0 auto;
    border-radius: 2px;
  }


  .movie-premiere,
  .movie-3d,
  .movie-national {
    display: none;
  }
  

  .movie-content {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% - 30px);
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 2px;
  }
  .movie-title {
    @include ptserif($purple, 2.24em, 1.2, $regular, $shape); // 16px
    margin-bottom: 5px;
  }
  .movie-description {
    @include montserrat($purple-darker, 1.2em, 1.3, $medium, uppercase); // 8px
  }

  @media (min-width: $sm) {
    .movie-title {
      font-size: 1.8em;
    }

    .movie-description {
      font-size: 1em;
    }
  }

  @media (min-width: $md) {
    .movie-premiere,
    .movie-3d,
    .movie-national {
      display: block;
      position: absolute;
      top: -3px;
      z-index: 2;
      width: 92px;
      height: 88px;
    }
    
    .movie-3d,
    .movie-national {
      right: -5px;
    }
    .movie-premiere {
      left: -3px;
    }
  }
}