.flag {
  position: relative;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  padding: 7px 0;
  width: 32px;
  height: 24px;
  font-weight: $semibold;
  font-size: 11px;
  text-transform: uppercase;
  vertical-align: middle;

  &.flag-leg,
  &.flag-dub {
    background: $gray-purple;
    color: $purple;
  }
  &.flag-nat {
    background: $green;
    color: white;
  }

  
  &.flag-3d,
  &.flag-premiere {
    background: $purple;
    &:before {
      content: '';
      @include centeralign();
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &.flag-3d {
    background: $orange;
    &:before {
      width: 25px;
      height: 8px;
      background-image: url(../img/layout/icons/glasses.svg);
      background-size: contain;
    }
  }
  &.flag-premiere {
    background: $purple;
    &:before {
      width: 16px;
      height: 16px;
      background-image: url(../img/layout/icons/star.svg);
      background-size: contain;
    }
  }
}