.pagination {
  margin-bottom: 20px;
  .page-counter {
    font-size: 1.2em;
    font-weight: $medium;
    color: $purple;
    margin-right: 40px;
  }
  .pagination-group {
    display: inline-block;
    border: 1px solid $gray-purple;
    .btn-prev,
    .btn-next {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 60px;
      height: 60px;
      color: $purple;
      background: transparent;
      transition: all .3s $ease-fx;
      &:hover {
        background: $orange;
        color: white;
      }
      .icon {
        @include centeralign();
      }
    }

    .btn-prev {
      border-right: 1px solid $gray-purple;
      .icon {
        &:before {
          transform: rotate(-180deg);
        }
      }
    }

    .btn-next {
      border-left: 1px solid $gray-purple;
    }

    .pagination-select {
      display: inline-block;
      vertical-align: middle;
      width: 98px;
      height: 50px;
      margin: 5px;
      padding: 0 30px 0 25px;
    }
  }

  @media (min-width: $sm) {
    .page-counter {
      display: inline-block;
    }
  }
}