.posts {
  
  .post-view {
    .social-widgets {
      display: none;
    }
    
    .post-item {
      .post-title,
      .post-date {
        text-align: left;
      }
    }
    @media (min-width: $md) {
      .post-item {
        .post-title {
          font-size: 4em;
          margin-bottom: 30px;
          height: auto !important;
          line-height: 1.5 !important;
        }
      }
      .social-widgets {
        display: block;
        margin-top: 100px;
      }
    }
  }

  .slider-post {
    margin-bottom: 60px;
    .slick-dots {
      bottom: -30px;
    }
  }
  
  .post-card {
    margin-bottom: 30px;
    .post-date {
      font-size: 1.8em;
      line-height: 3;
      color: $purple-dark;
      font-weight: $semibold;
      letter-spacing: 2px;
      text-align: center;
    }
    .post-title {
      @include ptserif($purple, 2.73em, 1.5, $regular, $shape); // 18px
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 5px;
      span {
        display: inline-block;
        font-size: 1em;
        font-family: inherit;
        line-height: inherit;
        font-weight: inherit;
      }
    }
    img {
      width: 100%;
    }
    a {
      text-decoration: none;
    }

    .post-text {
      margin-top: 20px;
    }

    @media (min-width: $sm) {
      margin-bottom: 40px;
      .post-date {
        font-size: 1.2em;
      }
      .post-title {
        font-size: 2em;
      }
    }

    @media (min-width: $md) {
      margin-bottom: 50px;
      .post-title {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        font-size: 2.4em;
        min-height: 110px;
        line-height: 110px !important;
        span {
          line-height: 1.5;
          vertical-align: middle;
        }
      }
    }
  }
  .post-nav-social {
    margin-top: 25px;
    ul {
      li {
        display: inline-block;
        margin: 0 10px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        span {
          color: $purple;
          font-size: 1.55em;
          font-weight: $semibold;
          margin-left: 10px;
        }
        a {
          display: inline-block;
          text-decoration: none;
          &:hover {
            .icon {
              background: $orange;
              color: white;
              border-color: transparent;
            }
          }
          .icon {
            vertical-align: middle;
            display: inline-block;
            position: relative;
            width: 40px;
            height: 40px;
            border: 1px solid $gray-purple;
            border-radius: 50%;
            color: $purple;
            font-size: 2.12em; // 14px
            transition: all .3s $ease-fx;
            &:before {
              @include centeralign();
            }
          }
        }
      }
    }

    @media (min-width: $sm) {
      ul {
        li {
          span {
            font-size: 1.8em;
          }
          a {
            .icon {
              font-size: 1.4em;
            }
          }
        }
      }
    }
  }
}