.prev-next-nav {
  ul {
    display: flex;
    li {
      flex-basis: 100%;
      max-width: 100%;
      &:first-child {
        display: none;
      }
      &:last-child {
        .icon {
          float: right;
          margin-left: 15px;
        }
      }
      a {
        width: 100%;
        border: 1px solid $gray-purple;
        display: inline-block;
        color: $purple;
        font-size: 1.65em; // 11px
        font-weight: $semibold;
        text-transform: uppercase;
        padding: 25px 15px;
        text-decoration: none;
        letter-spacing: 2px;
        transition: color .3s $ease-fx;
        &:hover {
          color: $orange;
        }
      }
    }
  }

  @media (min-width: $md) {
    ul {
      li {
        flex-basis: 50%;
        max-width: 50%;
        text-align: center;
        &:first-child {
          display: inline-block;
          a {
            border-right: 0;
          }
          .icon {
            margin-right: 15px;
            &:before {
              transform: rotate(-180deg);
            }
          }
        }
        &:last-child {
          .icon {
            float: none;
          }
        }
        a {
          font-size: 1.2em;
          padding: 40px 15px;
        }
      }
    }
  }
}