.show-more {
  &.open {
    .icon {
      &:after {
        transform: translate(-50%, -50%) rotate(0);
      }
    }
  }
  .icon {
    &:after {
      transition: transform .3s $ease-fx;
    }
  }
}
.show-more-content {
  display: none;
}