.slick-slider {
  width: 100%;

  .item {
    outline: 0;
    text-decoration: none;
    height: auto;
  }

  .slick-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    li {
      position: relative;
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: white;
      margin: 0 5px;
      cursor: pointer;
      opacity: .8;
      transition: all .3s $ease-fx;
      &.slick-active {
        opacity: 1;
        button {
          width: 7px;
          height: 7px;
          opacity: 1;
        }
      }
      button {
        cursor: pointer;
        @include centeralign();
        display: inline-block;
        outline: 0;
        padding: 0;
        border: none;
        width: 0;
        height: 0;
        border-radius: 50%;
        background: $purple-light;
        text-indent: -99999px;
        margin: 0;
        opacity: 0;
        transition: all .3s $ease-fx;
      }
    }
  }

  .slick-arrow {
    z-index: 9;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: white;
    box-shadow: 0 3px 25px rgba(0,0,0,.12);
    color: transparent;
    outline: none;
    cursor: pointer;
    transition: background .3s $ease-fx;
    @extend %icon;
    &:hover {
      background: $orange;
      &:before {
        color: white;
      }
    }
    &:before {
      content: $i-arrow;
      @include centeralign();
      color: $purple;
      transition: color .3s $ease-fx;
    }
    &.slick-prev {
      left: 0;
      transform: translate(-30%, -50%) rotate(-180deg);
    }
    &.slick-next {
      right: 0;
      transform: translate(30%, -50%);
    }
    @media (min-width: $md) {
      width: 70px;
      height: 70px;
      &.slick-prev {
        left: 0;
        transform: translate(-50%, -50%) rotate(-180deg);
      }
      &.slick-next {
        right: 0;
        transform: translate(45%, -50%);
      }
    }
  }

  &.arrows-offset {
    .slick-arrow {
      margin-top: -30px;
    }
  }

  &.dots-reverse {
    li {
      background: $pink-footer;
      opacity: 1;
      &.slick-active {
        background: $purple;
        button {
          width: 7px;
          height: 7px;
          opacity: 1;
        }
      }
      button {
        background: white;
      }
    }
  }

  &.slider-multiple {
    @media (min-width: $sm) {
      .slick-list {
        margin: 0 -13px;
        width: calc(100% + 23px);
        .item {
          padding: 10px 13px;
        }
      }
    }
  }
}