.social-widgets {
  .social-widget-box {
    border: 1px solid $gray-purple;
    margin-bottom: 30px;
    text-align: center;
    .social-widget-title {
      padding: 20px;
      background: $purple;
      color: white;
      font-size: 1.8em;
      font-weight: $medium;
    }
    .social-widget-content {
      padding: 25px 18px;
    }
    .social-widget-footer {
      font-size: 1.4em;
      font-weight: $semibold;
      color: $purple;
      padding: 0 20px 20px;
    }
  }
}