.content-title {
  &.with-thumb {
    @include ptserif($purple-darker, 3em, 1.2, $bold, $shape);
    font-style: italic;
    margin-bottom: 20px;
    .icon {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      margin-right: 10px;
      background: $brown-light;
      text-align: center;
      &:before {
        @include centeralign();
        vertical-align: middle;
        font-size: .8em;
      }
    }
    @media (min-width: $sm) {
      margin-bottom: 30px;
      .icon {
        width: 40px;
        height: 40px;
        margin-right: 12px;
      }
      font-size: 3em;
    }
    @media (min-width: $md) {
      margin-bottom: 55px;
      font-size: 3.4em;
      .icon {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        &:before {
          font-size: .7em;
        }
      }
    }
  }
  &.simple-title {
    font-size: 2.72em;
    line-height: 1.44;
    color: $purple;
    font-weight: $semibold;
    @media (min-width: $md) {
      font-size: 3em;
    }
  }
}

.form-title {
  @include ptserif($purple-darker, 2.73em, 1.3, $regular, $shape); // 18px

  @media (min-width: $sm) {
    font-size: 1.8em;
  }
}