.video {
  .row {
    position: relative;
  }
  .video-thumb {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 170px;
    &.stop {
      iframe {
        opacity: 0;
      }
      .btn-play {
        opacity: 1;
      }
    }
    &:before {
      content: '';
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $purple-darker;
      opacity: .7;
    }
    .btn-play {
      @include centeralign();
      opacity: 0;
    }
    iframe {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 170px;
      transition: opacity .3s $ease-fx;
      @media (min-width: $sm) {
        height: 450px;
      }
    }
    @media (min-width: $sm) {
      height: 450px;
    }
  }
}