footer {
  .social-footer {
    width: 100%;
    padding: 60px 0;
    text-align: center;
    @include gradient-vertical(#78086E, #5D1850);
    .social-cta {
      font-size: 1.8em;
      line-height: 1.8;
      font-weight: $medium;
      letter-spacing: 1px;
      color: white;
      text-transform: uppercase;
      display: inline-block;
      span {
        font-weight: $medium;
        color: $orange;
      }
    }
    .nav-social {
      margin-top: 25px;
      li {
        display: inline-block;
        margin: 0 7px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      a {
        position: relative;
        display: inline-block;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 1px solid $gray-purple;
        background: $pink-footer;
        text-align: center;
        transition: all .3s $ease-fx;
        &:hover {
          background: white;
          transform: translate(0, -5px);
        }
      }
      .icon {
        font-size: 2.1em;
        color: $purple;
        @include centeralign();
      }
    }

    @media (min-width: $sm) {
      .nav-social {
        li {
          a{
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    @media (min-width: $md) {
      .social-cta {
        font-size: 1.2em;
      }
      .nav-social {
        li {
          margin: 0 15px;
          a{
            width: 54px;
            height: 54px;
          }
        }
      }
    }
  }
  
  .site-map {
    overflow: hidden;
    position: relative;
    background: $pink-footer;
    padding: 30px 0;
    
    .operating-hours {
      flex-grow: 0;
      flex-shrink: 0;
      padding-right: .5rem;
      padding-left: .5rem;
      flex-basis: 100%;
      max-width: 100%;

      .operating-hours-title {
        font-size: 1.4em;
        line-height: 1.4;
        font-weight: $medium;
        text-transform: uppercase;
      }
      .operating-hours-txt {
        @include ptserif($purple-darker, 1.4em, 1, $regular, $shape);
        font-style: italic;
        margin-top: 5px;
      }
    }

    @media (max-width: 991px) {
      .operating-hours {
        .operating-content-wrapper {
          position: relative;
          padding-left: 60px;
          .icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $purple;
            color: white;
            font-size: 3.1em; // 20px
            &:before {
              @include centeralign();
            }
          }
          .operating-hours-title,
          .operating-hours-txt {
            font-size: 2.12em; // 14px
          }
        }
      }
    }

    @media (min-width: $md) {
      padding: 85px 0;
      &:before {
        content: '';
        z-index: 0;
        position: absolute;
        bottom: -25%;
        left: 0;
        background: url(../img/layout/marca-dagua.svg) no-repeat;
        width: 33vw;
        height: 27.7vw;
        max-width: 668px;
        background-position: bottom left;
      }
      .wrapper {
        z-index: 1;
      }

      .site-map-nav {
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: .5rem;
        padding-left: .5rem;
        flex-basis: 77.456%;
        max-width: 77.456%;

        li {
          margin-bottom: 20px;
          &.site-map-nav-title {
            a{
              font-family: 'Montserrat', sans-serif;
              font-style: unset;
              font-weight: $medium;
              color: $purple-darker;
            }
          }
          a, p{
            @include ptserif($purple, 1.4em, 1, $regular, $shape);
            text-decoration: none;
            font-style: italic;
            letter-spacing: 1px;
          }
          p {
            line-height: 2.22;
          }
        }

        ul {
          flex-basis: 23%;
          max-width: 23%;
          padding: 0 .5em;
          &:nth-child(3) {
            flex-basis: 33%;
            max-width: 33%;
          }
          &:last-child {
            flex-basis: 20%;
            max-width: 20%;
          }
        }
      }

      .operating-hours {
        -ms-flex-preferred-size: 22.543%;
        flex-basis: 22.543%;
        max-width: 22.543%;

        .operating-hours-title {
          font-size: 1.4em;
          line-height: 1.4;
          margin-top: 40px;
        }
        .operating-hours-txt {
          font-size: 1.4em;
          margin-top: 5px;
        }
      }

      .copy {
        font-size: 1em;
        text-align: left;
        
      }
    }
  }

  .copy {
    font-size: 1em;
    color: $purple-darker;
    text-align: center;
    @media (max-width: 991px) {
      font-size: 1.55em; // 10px
      line-height: 1.5;
      padding: 20px;
    }
  }

  @media (min-width: $md) {
    .brands {
      padding: 30px 0;
      .last-brand-set {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 10%;
        max-width: 10%;
      }
      .brands-title {
        font-size: 1em;
        color: $purple;
        width: 100%;
        text-transform: uppercase;
      }
      .brand-set {
        display: flex;
        height: 75px;
        align-items: center;
        margin-top: 25px;
        img {
          display: inline-block;
          &:nth-child(2) {
            margin: 0 55px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
