body{
  background: white;
  font-size: 41.3%;
  color: black;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  &.blocked {
    overflow-y: hidden;
  }
  *{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  img {
    max-width: 100%;
  }
}


/* Grid
========================================================================== */
.wrapper {
  max-width: 1206px;
}
.container-fluid {
  padding-right: 1rem;
  padding-left: 1rem;
  @media (min-width: $md) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

label {
  &.error {
    display: none !important;
  }
}

.link-inline {
  color: $purple;
  transition: color .3s $ease-fx;
  font-weight: $medium;
  &:hover {
    color: $purple-dark;
  }
}

.fluid-text {
  &.center {
    text-align: center;
  }
  .content-title {
    margin-bottom: 20px;
  }

  p {
    font-size: 2.42em; // 16px
    line-height: 1.8;
    margin-bottom: 20px;
    font-weight: $light;
    color: $medium-grey;
    b {
      color: $orange;
      font-weight: $semibold;
    }
  }

  img {
    display: block;
    margin: 0 auto 20px;
    width: auto;
  }
}

.vertical-gutter {
  @extend %vertical-gutter;
}

.hide{
  display: none;
}

.hidden-mobile{
  display: none;
}

@media (min-width: $sm) {
  body {
    font-size: 62.5%;
  }
}

@media (min-width: $md) {
  .hidden-mobile{
    display: block;
  }
  .hidden-screen{
    display: none;
  }
  
  .fluid-text {
    .content-title {
      margin-bottom: 30px;
    }
    p {
      font-size: 1.6em;
    }
    img {
      margin-bottom: 40px;
    }
  }

  .col-md-offset-0 {
    margin-left: 0;
  }
}
