.main-header {
  position: relative;
  background: white;

  .logo-header {
    display: block;
    padding: 15px 0;
    img {
      max-width: 190px;
    }
  }

  .nav-header {
    li {
      width: 100%;
      &.dropdown {
        .dropdown-content {
          display: none;
          width: 100%;
          li {
            width: 100%;
            a{
              &:hover{
                color: $orange;
              }
            }
          }
        }
      }
      a {
        letter-spacing: 1px;
        text-decoration: none;
        display: inline-block;
        color: $purple-darker;
        transition: color .3s $ease-fx;
        &:hover {
          color: $orange;
        }
      }
    }
  }

  .secondary-nav-header {
    // background: $purple-dark;
    background: $purple;
    .header-inputs-wrapper {
      width: 100%;
      float: left;
    }
    .header-inputs {
      float: left;
      width: 50%;
      letter-spacing: 1px;
      &.input-screen {
        display: none;
      }
    }
    .input-search-group {
      color: white;
      // background: $purple-light;
      &:after {
        content: $i-search;
        @extend %icon;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0, -50%);
        color: $orange;
        height: 20px;
        width: 20px;
        font-size: 20px;
      }
      &.focused {
        .field-label {
          font-size: .65em;
        }
      }
      .input-search-label {
        color: white;
        letter-spacing: 1px;
      }
      .input-search {
        color: white;
      }
    }
    .operating-hours,
    .shopkeepers-portal {
      position: relative;
      display: inline-block;
      width: 100%;
      text-transform: uppercase;
      font-size: 1.1em;
      text-decoration: none;
      font-weight: $medium;
      padding: 20px 1rem;
    }
  }

  @media (max-width: 993px) {
    margin-bottom: 2px;
    .nav-header-wrapper{
      z-index: 999;
      position: fixed;
      bottom: 0;
      left: 100%;
      width: 100vw;
      height: calc(100vh - 80px);
      background: white;
      overflow-x: hidden;
      overflow-y: auto;
      transition: left .3s $ease-fx;
      &.open {
        left: 0;
      }
      .nav-header {
        li {
          border-top: 1px solid $pink-footer;
          width: calc(100% + 2rem);
          margin: 0 -1rem;
          padding: 0 1rem;
          &.dropdown {
            .dropdown-content {
              a {
                padding: 20px 0;
              }
            }
          }
          a {
            padding: 20px;
            position: relative;
            font-size: 2.12em;
            width: 100%;
            &.open {
              color: $purple;
              .icon {
                color: $orange;
              }
            }
            .icon {
              position: absolute;
              top: 50%;
              left: 0;
              transform: translate(0, -50%);
              font-size: 12px;
            }
          }
        }
      }

      .nav-social-mobile {
        border-top: 1px solid $pink-footer;
        width: calc(100% + 2rem);
        margin: 0 -1rem;
        padding: 12px 1rem;
        background: white;
        text-align: center;
        li {
          display: inline-block;
          margin: 0 8px;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
        a {
          position: relative;
          display: inline-block;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          border: 1px solid $gray-purple;
          background: $pink-footer;
          text-align: center;
          transition: all .3s $ease-fx;
          &:hover {
            background: white;
            transform: translate(0, -5px);
          }
        }
        .icon {
          font-size: 13px;
          color: $purple;
          @include centeralign();
        }
      }
      
    }
    .secondary-nav-header {
      .input-search-group {
        border-right: 1px solid $purple-light;
        height: 50px;
        .field-label {
          left: 40px;
          font-size: 1.55em; // 10px
        }
        .field-input {
          padding: 20px 10px 10px 40px;
        }
      }

      .chosen-header {
        padding-left: 20px;
        font-size: 1.55em; // 10px
        text-transform: uppercase;
        option {
          &:disabled {
            color: white;
            background: $purple-dark;
          }
        }
      }
      .secondary-nav-right {
        width: 100%;
        background: $brown-light;
        border-bottom: 1px solid $pink-footer;
        .operating-hours {
          text-align: center;
          color: $purple;
          width: 100%;
          font-size: 1.65em; // 11px
          .icon {
            display: inline;
            vertical-align: middle;
            font-size: 20px;
            margin-right: 10px;
          }
        }
      }
      .shopkeepers-portal {
        display: none;
      }
    }
  }

  @media (min-width: $md) {
    .nav-header-wrapper{
      display: flex;
    }
    .nav-header {
      width: 100%;
      text-align: right;
      li {
        position: relative;
        display: inline-block;
        width: auto;
        margin: 0 8px;
        &:hover {
          .dropdown-content {
            display: block;
          }
        }
        &:first-child {
          margin-left: 0;
        }
        &:nth-last-child(3) {
          margin-right: 0;
        }
        &.dropdown {
          .dropdown-content {
            position: absolute;
            z-index: 999;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0);
            background: white;
            box-shadow: 0 3px 20px rgba(0,0,0,.05);
            min-width: 300px;
            text-align: left;
            padding: 40px 0;
            li {
              margin: 0;
              &:last-child {
                a{
                  padding-bottom: 0;
                }
              }
            }
            a{
              display: inline-block;
              padding: 0 30px 25px 30px;
              &:hover {
                color: $orange;
              }
            }
          }
        }
        a {
          padding: 30px 0;
          font-size: 1.4em;
          font-weight: $medium;
        }
      }

      .mobile-anchors {
        display: none;
      }
    }

    .secondary-nav-header {
      background: $purple-dark;
      .header-inputs {
        width: calc(50% - 1px);
        &.input-mobile {
          display: none;
        }
      }
      .field-wrapper {
        height: 50px;
      }
      .chosen-container {
        margin-left: 2px;
        max-width: 230px;
      }
      .secondary-nav-right {
        text-align: right;
        padding-right: 1rem;
        width: calc(100% - 480px);
      }
      .input-search-group {
        background: $purple-light;
        &:after {
          left: auto;
          right: 10px;
        }
        .field-label {
          left: 15px;
        }
      }
      .operating-hours,
      .shopkeepers-portal {
        height: 50px;
        width: auto;
        color: white;
        padding: 20px 0 20px 30px;
        .icon {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0,-50%);
          color: $orange;
          font-size: 1.8em;
        }
      }
      .shopkeepers-portal {
        margin-left: 30px;
      }
      .header-inputs-wrapper {
        padding-left: 1rem;
        width: 480px;
        .header-inputs {
          max-width: 230px;
        }
      }
    }
  }

}