.internal-header {
  background: $brown-light;
  padding: 18px 0;
  .internal-title {
    text-align: center;
    font-size: 20px;
    line-height: 1.44;
    color: $purple;
    font-weight: $semibold;
  }
  @media (min-width: $md) {
    padding: 25px 0;
    .internal-title {
      font-size: 3em;
    }
  }
  @media (min-width: $lg) {
    padding: 50px 0;
    .internal-title {
      font-size: 4em;
    }
  }
}