.page-about {
  .content-title {
    text-align: center;
  }
  .slider-about {
    @include halfbackground(calc(50% + 15px));
    padding-bottom: 30px;
    .illustration {
      position: absolute;
      bottom: 0;
      left: 0;
      max-height: calc(50% + 15px);
      width: auto;
    }
  }

  @media (min-width: $lg) {
    .content-title {
      text-align: left;
    }
    .vertical-gutter {
      padding-bottom: 30px;
    }
    .slider-about {
      padding-bottom: 80px;
      &:before {
        height: calc(50% + 40px);
      }
      .illustration {
        max-height: unset;
      }
    }
  }
}