.page-announce {
  .video {
    margin-top: 20px;
    @media (min-width: $sm) {
      margin-top: 30px;
    }
    @media (min-width: $lg) {
      margin-top: 45px;
    }
  }

  .call-us {
    margin-top: 30px;
    .call-us-title {
      font-size: 2.73em; // 18px
      color: $purple;
      font-weight: $regular;
      margin-bottom: 10px;
      @media (min-width: $sm) {
        font-size: 1.8em;
      }
    }
    p {
      a {
        color: $purple-dark;
        text-decoration: none;
      }
    }
    @media (min-width: $md) {
      margin-top: 40px;
    }
  }
}