.page-cinema {

  .cinema-control {
    display: none;
    @media (min-width: $md) {
      display: block;
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: right;
    }
  }

  .cinema-header {
    margin-bottom: 15px;
    text-align: right;
    .content-title {
      width: 100%;
      text-align: left;
    }
  }
  .movie-gallery {
    @include halfbackground(calc(100% - 270px));
    padding: 15px 0;
  }

  .ticket-value{
    border-top: 1px solid $gray-purple;
    border-bottom: 1px solid $gray-purple;
    text-align: left;
    .ticket-value-title,
    .ticket-value-subtitle {
      font-family: 'PT Serif', sans-serif;
      color: $purple-darker;
      font-size: 2.75em;
    }

    .ticket-value-title {
      line-height: 1.35;
      margin-bottom: 20px;
      .icon {
        color: $orange;
        font-size: .9em;
        margin-right: 15px;
      }
    }
    .ticket-value-subtitle {
      line-height: 1.33;
      margin-bottom: 20px;
    }
    .ticket-value-content {
      font-size: 2.12em; // 14px
      line-height: 1.86;
      margin-bottom: 20px;
      font-weight: $light;
      color: $medium-grey;
      b, strong {
        font-weight: $semibold;
      }
    }
    .ticket-value-obs {
     font-size: .858em; // 12px
     font-weight: $medium;
    }

    .btn {
      margin: 20px 0 40px;
      border-width: 1px;
    }

    .cinepolis-cards {
      display: flex;
      flex: 0 1 auto;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 30px;
      li {
        padding: 0 5px;
        width: auto;
        flex-grow: 0;
        flex-shrink: 0;
        max-width: 100%;
      }
    }
  }

  .ticket-value,
  .other-movies {
    padding: 30px 0;
    @media (min-width: $md) {
      padding: 60px 0;
    }
  }

  .video{
    background: $gray-darker;
  }

  .movie {
    margin-bottom: 30px;
    .movie-thumb {
      padding-top: 1rem;
      padding-bottom: 1rem;
      img {
        border-radius: 2px;
      }
      .btn {
        width: 100%;
        margin-top: 20px;
        border-width: 1px;
      }
      .movie-thumb-obs {
        margin-top: -1px;
        border: 1px solid $gray-purple;
        border-radius: 2px;
        padding: 18px;
        font-size: 1.55em; // 10px
        line-height: 2;
        color: $medium-grey;
        @media (min-width: $lg) {
          font-size: 1em;
        }
      }

      @media (min-width: $md) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .movie-subtitle {
      color: $purple-darker;
      margin-top: 10px;
      font-size: 1.55em;
      line-height: 1.4;
      text-transform: uppercase;
    }

    .movie-content {
      border-top: 1px solid $gray-purple;
      .movie-sessions{
        padding-top: 30px;
        .movie-sessions-title {
          @include ptserif($purple-darker, 2.73em, 1.38, $regular, $shape); // 18px
          margin-bottom: 20px;
        }
      }
      @media (min-width: $md) {
        .movie-sessions{
          .movie-sessions-title {
            font-size: 1.8em;
          }
        }
      }
    }

    .tabs-sessions {
      border: 1px solid $brown;
      .tabs-sessions-nav {
        background: $brown-light;
        padding: 0 0 0 calc(20px + 2em);
        max-width: 100%;
        overflow: hidden;
        .row {
          margin-right: 0;
        }
        ul {
          overflow-y: hidden;
          overflow-x: auto;
          flex-wrap: nowrap;
          li {
            box-sizing: border-box;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 8%;
            max-width: 8%;
            min-width: 55px;
            margin: 0 15px;
            text-align: center;
            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              margin-right: 0;
            }
            a {
              position: relative;
              text-decoration: none;
              text-transform: uppercase;
              padding: 15px 0;
              display: block;
              color: $purple-darker;
              overflow: hidden;
              transition: all .3s $ease-fx;
              &:before {
                content: '';
                position: absolute;
                bottom: -16px;
                left: 50%;
                transform: translate(-50%, 0);
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: $purple;
                transition: bottom .3s $ease-fx;
              }
              &.active {
                color: $purple;
                &:before {
                  bottom: -8px;
                }
                span {
                  &:last-child {
                    font-weight: $semibold;
                  }
                }
              }
              span {
                display: block;
                text-align: center;
                &:first-child {
                  @include ptserif(inherit, 2.73em, 1.38, $regular, $shape); // 18px
                }
                &:last-child {
                  font-size: 1.8em; // 12px
                  font-weight: $medium;
                  margin-top: 8px;
                  letter-spacing: 2px;
                  transition: all .3s $ease-fx;
                }
              }
            }
          }
        }
      }

      .tabs-sessions-content {
        display: none;
        &.active {
          display: block;
        }

        .tabs-sessions-content-item {
          display: flex;
          flex: 0 1 auto;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 15px 20px;
          border-top: 1px solid $brown;
          p {
            flex: 0 0 auto;
            flex-basis: 100%;
            max-width: 100%;
            padding: 5px 0;
            font-size: 2.12em; // 14px
            font-weight: $medium;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
            .flag {
              margin: 0 3px 0 0;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
      @media (min-width: $md) {
        .tabs-sessions-nav {
          ul {
            li {
              flex-basis: 7.45%;
              max-width: 7.45%;
              min-width: 50px;
              a {
                span {
                  &:first-child {
                    font-size: 1.8em;
                  }
                  &:last-child {
                    font-size: 1.2em;
                  }
                }
              }
            }
          }
        }
        .tabs-sessions-content {
          .tabs-sessions-content-item {
            padding: 25px;
            flex-wrap: nowrap;
            p {
              flex-basis: 30%;
              max-width: 30%;
              padding: 0;
              font-size: 1.4em;
              &:first-child {
                text-align: left;
              }
              &:last-child {
                text-align: right;
              }
            }
          }
        }
      }

      @media (min-width: $lg) {
        .tabs-sessions-nav {
          padding: 0 calc(30px + 2em);
          ul {
            li {
              margin: 0 30px;
              a {
                padding: 30px 0;
              }
            }
          }
        }
      }
    }

    .movie-sessions-legend {
      .movie-legend-title {
        font-size: 14px;
        font-weight: $medium;
        margin: 15px 0;
        color: $purple-darker;
      }
      p {
        margin-bottom: 5px;
        font-size: 1.8em;
        font-weight: $light;
        vertical-align: middle;
        color: $purple-darker;
        .flag {
          margin-right: 10px;
        }
      }
    }

    @media (min-width: $sm) {
      .movie-sessions-legend {
        p {
          font-size: 1.2em;
        }
      }
    }
    @media (min-width: $md) {
      margin-bottom: 50px;
      .movie-subtitle {
        font-size: 1.2em;
      }
      .movie-content {
        border-top: none;
      }
    }
  }

  .synopsis {
    padding: 20px 0;
    .synopsis-title {
      @include ptserif($purple-darker, 2.73em, 1.38, $regular, $shape); // 18px
    }
    .synopsis-content {
      margin-top: 10px;
      p {
        color: $medium-grey;
        font-size: 2.12em;
        line-height: 1.9;
        font-weight: $light;
        &.sequence {
          display: none;
        }
      }
    }
    .synopsis-data {
      margin-top: 30px;

      .synopsis-data-item {
        position: relative;
        padding-left: calc(60px + .5em);
        margin-bottom: 15px;
        min-height: 50px;
        vertical-align: middle;
        .synopsis-data-item-thumb {
          position: absolute;
          top: 0;
          left: .5em;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid $gray-purple;
          color: $purple;
          .icon {
            @include centeralign();
            font-size: 2.73em;
          }
        }
        p {
          padding-top: 12px;
          font-weight: $light;
          font-size: 14px;
          line-height: 1.9;
          color: $purple-darker;
          b {
            font-weight: $medium;
          }
        }
      }
    }

    @media (min-width: $md) {
      padding: 30px 0;
      .synopsis-title {
        font-size: 1.8em;
      }
      .synopsis-content {
        p {
          font-size: 1.6em;
        }
      }
      .synopsis-data {
        .synopsis-data-item {
          .synopsis-data-item-thumb {
            .icon {
              font-size: 1.8em;
            }
          }
        }
      }
    }
    @media (min-width: $lg) {
      padding: 50px 0;
    }
  }

  .other-movies {
    @include halfbackground(calc(50% - 40px));
    .content-title {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $md) {
    .cinema-header {
      margin-bottom: 20px;
    }
    .movie-gallery {
      padding: 20px 0;
      &:before {
        height: calc(100% - 365px);
      }
    }
    .ticket-value {
      .ticket-value-title {
        font-size: 2em;
      }
      .ticket-value-subtitle {
        font-size: 1.8em;
      }
      .ticket-value-content {
        font-size: 1.4em;
      }
    }

    .movie-card {
      .movie-card-over {
        &:before {
          font-size: 180px;
        }
      }
      .movie-premiere,
      .movie-3d,
      .movie-national {
        top: -2px;
        width: 66px;
        height: 63px;
      }
    }
  }
  @media (min-width: $lg) {
    .cinema-header {
      margin-bottom: 50px;
    }
    .movie-gallery {
      padding: 50px 0;
      &:before {
        height: calc(100% - 380px);
      }
    }
    .ticket-value {
      .ticket-value-title {
        font-size: 2.6em;
        margin-bottom: 35px;
      }
      .ticket-value-content{
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
