.page-contact {
  &.parking-card {
    .fluid-text {
      p{
        b {
          color: $purple;
          font-weight: $medium;
        }
      }
    }

    .field-box-group {
      margin: 20px 0 0 0;
    }
    
    .terms-and-conditions {
      border-top: 1px solid $gray-purple;
      margin-top: 20px;
      padding-top: 20px;
    }

    @media (min-width: $md) {
      .btn-default {
          width: 200px;
      }
    }
  }

  .form-title {
    margin-top: 10px;
  }
}