.page-events {
  .pre-talk {
    text-align: center;
  }

  .events-card {
    margin-bottom: 30px;
    .events-date {
      font-size: 1.8em;
      line-height: 3;
      color: $purple-dark;
      font-weight: $semibold;
      letter-spacing: 2px;
      text-align: center;
    }
    .events-title {
      @include ptserif($purple, 2.73em, 1.5, $regular, $shape); //18px
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 5px;
    }
    img {
      width: 100%;
    }

    .events-text {
      margin-top: 20px;
    }

    @media (min-width: $sm) {
      margin-bottom: 40px;
      .events-date {
        font-size: 1.2em;
      }
      .events-title {
        font-size: 2em;
      }
    }

    @media (min-width: $md) {
      margin-bottom: 50px;
      .events-title {
        font-size: 2.4em;
      }
    }
  }

  .other-events {
    border-top: 1px solid $gray-purple;
    .events-card {
      .events-date {
        color: $purple-darker;
      }
      .events-date,
      .events-title {
        text-align: left;
      }
    }
  }
}