.page-home{

  .cinema {
    @extend %vertical-gutter;
    @include halfbackground();
    .btn {
      margin-top: 40px;
    }
  }

  .events {
    @extend %vertical-gutter;
    .events-card {
      .events-date {
        color: $purple-darker;
      }
    }
  }

  .sustainability{
    display: none;
    @media (min-width: $md) {
      display: block;
      .slider-sustainability {
        margin-bottom: 60px;
        .slick-dots {
          bottom: -30px;
        }
      }
      
      .sustainability-card {
        position: relative;
        height: 100%;
        float: left;
        .sustainability-card-banner {
          position: absolute;
          top: 0;
          left: 0;
          width: 60.438%;
          height: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
        .sustainability-content {
          background: $brown-light;
          padding: 50px 45px 0 45px;
          width: 39.562%;
          float: right;
        }
        .sustainability-title {
          @include ptserif($purple, 2.2em, 1.5, $regular, $shape);
        }
        .sustainability-text {
          margin-top: 30px;
          color: $medium-grey;
          font-size: 1.6em;
          line-height: 1.9;
          font-weight: $light;
        }
        .btn {
          margin-top: 35px;
          min-width: 235px;
        }
      }
    }
  }
}