.page-location {
  .bus-stop-subtitle {
    font-size: 1.8em; // 12px
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $orange;
    font-weight: $medium;
    margin-top: 20px;
  }
  .bus-stop-list {
    margin: 20px 0;
    li {
      padding: 22px 0;
      font-size: 2.42em; // 16px
      font-weight: $light;
      color: $medium-grey;
      border-bottom: 1px solid $gray-purple;
      &.show-more {
        cursor: pointer;
        font-size: 2.12em; // 14px
        .icon {
          float: right;
          width: 12px;
          height: 12px;
        }
      }
      b {
        font-weight: $bold;
        text-transform: uppercase;
      }
    }
  }

  .access-routes {
    .content-title {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $sm) {
    .bus-stop-subtitle {
      font-size: 1.2em;
    }
    .bus-stop-list {
      li {
        font-size: 1.6em;
        &.show-more {
          font-size: 1.4em;
        }
      }
    }
    .access-routes {
      .content-title {
        margin-bottom: 40px;
      }
    }
  }
}