.page-services {
  .cards {
    .card-tooltip {
      width: 100%;
    }
  }
  .card-service {
    margin-bottom: 2rem;
  }
  .card-tooltips {
    .row {
      position: relative;
      margin: 0;
    }
  }
  .card-tooltip {
    display: none;
    position: relative;
    margin: 2rem 0;
    width: 100%;
    max-width: 1200px;
    padding: 35px 30px 30px;
    border: 1px solid $gray-purple;
    border-radius: 5px;
    background: white;
    transition: top .3s $ease-fx;
    .card-tooltip-title {
      color: $purple;
      font-weight: $semibold;
      font-size: 3.1em;
      width: calc(100% - 45px);
      margin-bottom: 20px;
    }
    .btn-close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .other-services {
    text-align: center;
    border-top: 1px solid $gray-purple;
    padding: 45px 0 40px;
    .nav-other-services {
      margin-top: 25px;
      ul {
        li {
          display: inline-block;
          margin: 0 20px 15px;
          a {
            position: relative;
            color: $purple-darker;
            display: inline-block;
            text-decoration: none;
            font-size: 1.4em;
            &:hover {
              color: $orange;
            }
            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: -18px;
              transform: translate(0,-50%);
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background: $purple-darker;
            }
          }
        }
      }
    }
  }

  @media (min-width: $sm) {
    .cards {
      .row {
        position: relative;
      }
      .card-tooltip {
        z-index: 2;
        position: absolute;
        left: 1rem;
        width: calc(100% - 2rem);
        padding: 60px 40px 45px;
      }
    }
  }
  @media (min-width: $md) {
    .card-service {
      height: 340px;
    }
    .card-tooltip {
      padding: 70px 90px 60px;
      .card-tooltip-title {
        font-size: 3em;
      }
    }
    .call-to-action {
      background: url(../img/layout/app-shopping-guararapes-servicos.png) no-repeat;
      background-position: 68% center;
    }
  }

  @media (min-width: $lg) {
    .other-services {
      .nav-other-services {
        margin-top: 45px;
      }
    }
  }
}