.page-stores {
  .store-card {
    margin-bottom: 20px;
    a {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .store-title {
      @include ptserif($purple, 3.1em, 1.33, $regular, $shape);
      margin: 15px 0 10px;
    }
    .store-phone {
      font-size: 2.12em;
      color: $purple-darker;
      text-decoration: none;
      .icon {
        position: relative;
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid $gray-purple;
        font-size: 7px;
        vertical-align: middle;
        background: white;
        margin-right: 10px;
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-40%,-55%);
        }
      }
    }
  }
  .pagination {
    margin-top: 20px;
  }

  .store-inputs-wrapper {
    display: none;
  }

  @media (min-width: $sm) {
    .store-card {
      margin-bottom: 35px;
      .store-title {
        font-size: 2.2em;
      }
      .store-phone {
        font-size: 1.2em;
      }
    }
  }

  @media (min-width: $md) {
    .store-inputs-wrapper {
      display: block;
      border-top: 1px solid $gray-purple;
      border-bottom: 1px solid $gray-purple;
      .input-search-group {
        &.focused {
          .input-search-label {
            top: calc(50% - 15px);
            font-size: 1.4em;
          }
        }
      }
      .input-search-label {
        top: 50%;
        transform: translate(0, -50%);
        font-size: 1.6em;
        font-weight: $medium;
        text-transform: none;
      }
    }
    .store-inputs {
      display: flex;
      .field-wrapper,
      .default-select {
        height: 75px;
        color: $purple;
      }
      .field-wrapper {
        flex-basis: 70%;
        max-width: 70%;
        width: 70%;
        .input-search-label {
          .icon {
            margin-right: 15px;
          }
        }
        .field-label {
          z-index: 2;
        }
        input {
          border: none;
          height: 75px;
        }
        .alpha-search {
          &.open {
            display: flex;
          }
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          height: 70px;
          width: 100%;
          color: $purple;
          text-decoration: none;
          font-size: 1.2em;
          font-weight: $regular;
          padding: 30px;
          border: 1px solid $gray-purple;
          background: white;
          .search-label {
            padding: 0 12px 12px 0;
            margin-right: 18px;
            border-right: 1px solid $gray-purple;
            min-width: 145px;
            flex-basis: 145px;
          }
          ul {
            display: flex;
            justify-content: space-between;
            flex: calc(100% - 145px);
            width: calc(100% - 145px);
            li {
              display: inline-block;
              &:first-child {
                margin-left: 0;
              }
              &:last-child {
                margin-right: 0;
              }
              a {
                font-weight: $medium;
                text-decoration: none;
                text-transform: uppercase;
                color: $purple;
              }
            }
          }
        }
      }
      .easy-autocomplete {
        height: 75px;
        z-index: 0;
        background: none;
        .field-input {
          position: relative;
          z-index: 2;
        }
        .easy-autocomplete-container {
          top: 0;
          z-index: -1;
          ul {
             li {
                display: none;
                border: none;
                &:first-child {
                  display: block;
                  height: 75px;
                  padding: 42px 23px 0 23px;
                  color: $gray-purple;
                  font-size: 1.2em;
                  text-align: right;
                }
                &.selected {
                  background: transparent;
                }
             }
          }
        }
      }
      .default-select {
        flex-basis: 30%;
        max-width: 30%;
        border: none;
        border-left: 1px solid $gray-purple;
        font-size: 1.6em;
        font-weight: $medium;
      }
      .chosen-container {
        &.chosen-with-drop {
          border-right: 1px solid $gray-purple;
          .chosen-single {
            div > b {
              &:before {
                transform: rotate(-90deg);
              }
            }
          }
        }
        .chosen-single {
          background: transparent !important;
          height: 75px;
          border-left: 1px solid $gray-purple !important;
          padding-left: 30px;
          span {
            color: $purple;
            font-size: 1.6em;
            font-weight: $medium;
            text-transform: none;
          }
          div > b {
            &:before {
              content: $i-arrow;
              color: $purple-darker;
              transform: rotate(90deg);
            }
          }
        }
        .chosen-drop {
          border: none;
          box-shadow: none;
          max-height: 280px;
          overflow-x: hidden;
          overflow-y: auto;
          .chosen-search {
            display: none;
          }
          .chosen-results {
            margin: 1px 0 0 0;
            width: calc(100% + 1px);
            border: 1px solid $gray-purple;
            padding: 22px 0 0;
            li {
              padding: 8px 30px;
              color: $purple-darker;
              font-size: 1.4em;
              line-height: 1.3;
              &:first-child {
                display: none;
              }
              &.disabled-result {
                color: $gray-purple;
                text-transform: uppercase;
              }
              &.highlighted {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  &.stores-show {
    .store-data {
      border-bottom: 1px solid $gray-purple;
      .store-thumb {
        width: 100%;
      }
      .store-title {
        width: 100%;
        @include ptserif($purple, 3.33em, 1.4, $regular, $shape); // 22px
        margin-bottom: 20px;
      }
    }
    .other-stores {
      padding-top: 20px;
      @include halfbackground(55%);
      .content-title {
        margin-bottom: 30px;
      }
      .move-back {
        display: none;
      }
    }

    .store-location {
      border-bottom: 1px solid $gray-purple;
      .store-location-header {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
      }
      .store-location-controls {
        .btn {
          &:first-of-type {
            margin-right: -3px;
          }
        }
      }

      .img-zoom-container {
        position: relative;
        width: 100%;
        overflow: hidden;
        .img-zoom {
          transition: transform .3s $ease-fx;
        }
      }
    }

    @media (min-width: $sm) {
      .other-stores {
        padding-top: 50px;
        .move-back {
          display: block;
          margin-bottom: 50px;
        }
        .store-data {
          .store-title {
            font-size: 4em;
          }
        }
      }
    }
  }
}
