.page-sustainability {
  .pre-talk {
    text-align: center;
  }

  .post-item {
    text-decoration: none;
  }

  .post-card {
    margin-bottom: 30px;
    .post-date {
      font-size: 1.8em;
      line-height: 3;
      color: $purple-dark;
      font-weight: $semibold;
      letter-spacing: 2px;
      text-align: center;
    }
    .post-title {
      @include ptserif($purple, 2.73em, 1.5, $regular, $shape); //18px
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 5px;
    }
    img {
      width: 100%;
    }

    .post-text {
      margin-top: 20px;
    }

    @media (min-width: $sm) {
      margin-bottom: 40px;
      .post-date {
        font-size: 1.2em;
      }
      .post-title {
        font-size: 2em;
      }
    }

    @media (min-width: $md) {
      margin-bottom: 50px;
      .post-title {
        font-size: 2.4em;
      }
    }
  }
}