<footer id="footer">
    <div class="social-footer">
        <div class="wrapper container-fluid">
            <p class="social-cta"> Siga o <span>Shopping Guararapes</span> nas redes sociais</p>
            <nav class="nav-social">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/shopping-guararapes" target="_blank" title="Facebook">
                            <i class="icon i-facebook"></i>
                            <span class="hide">Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/sguararapes" target="_blank" title="Instagram">
                            <i class="icon i-instagram"></i>
                            <span class="hide">Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/SGUARARAPES" target="_blank" title="Twitter">
                            <i class="icon i-twitter"></i>
                            <span class="hide">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://youtube.com/user/sguararapes" target="_blank" title="Youtube">
                            <i class="icon i-youtube"></i>
                            <span class="hide">Youtube</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="site-map">
        <div class="wrapper container-fluid">
            <div class="row">
                <nav class="site-map-nav hidden-mobile">
                    <div class="row">
                        <ul>
                            <li class="site-map-nav-title"><a href="{BASE_URL}/o-shopping">O Shopping</a></li>
                            <li><a href="{BASE_URL}/o-shopping">Apresentação</a></li>
                            <li><a href="{BASE_URL}/servicos">Serviços</a></li>
                            <li><a href="{BASE_URL}/como-chegar">Localização</a></li>
                            <li><a href="{BASE_URL}/anuncie-no-shopping">Anuncie no Shopping</a></li>
                            <li><a href="{BASE_URL}/sustentabilidade">Sustentabilidade</a></li>
                            <li><a href="{BASE_URL}/politica-coorporativa">Política Corporativa</a></li>
                        </ul>
                        <ul>
                            <li class="site-map-nav-title"><a href="#">Lojas</a></li>
                            <li class="site-map-nav-title"><a href="#">Diversão</a></li>
                            <li><a href="{BASE_URL}/cinema">Cinema</a></li>
                            <li><a href="#">Game Station</a></li>
                            <li class="site-map-nav-title"><a href="#">Gastronomia</a></li>
                            <li class="site-map-nav-title"><a href="#">Eventos e Novidades</a></li>
                        </ul>
                        <ul>
                            <li class="site-map-nav-title"><a href="{BASE_URL}/contato">Contato</a></li>
                            <li><a href="{BASE_URL}/contato">Deixe uma mensagem</a></li>
                            <li><a href="{BASE_URL}/trabalhe-conosco">Trabalhe conosco</a></li>
                            <li><a href="{BASE_URL}/cartao-de-estacionamento">Cartão de estacionamento pré-pago</a></li>
                            <li><a href="tel:+558121222211">+55 (81) 2122.2211</a></li>
                        </ul>
                        <ul>
                            <li class="site-map-nav-title"><a href="{BASE_URL}/como-chegar">Onde estamos</a></li>
                            <li>
                                <p>Av. Barreto de Menezes, 800, Piedade - Jaboatão dos Guararapes/PE</p>
                                <a href="{BASE_URL}/como-chegar">Como chegar?</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="operating-hours">
                    <img src="{BASE_URL_IMG}/layout/operating-hours.png" alt="Abrimos às 9h" class="hidden-mobile">
                    <div class="operating-content-wrapper">
                        <i class="icon i-clock hidden-screen"></i>
                        <h4 class="operating-hours-title">Segunda a sábado 9h às 22h<br>Domingos 12h às 21h</h4>
                        <p class="operating-hours-txt">Feriados: consultar a programação.</p>
                    </div>
                </div>
                <p class="copy hidden-mobile col-lg-9"> &copy; Shopping Guararapes. Todos os direitos reservados. / CNPJ.: 41.090.689/0001-70</p>
            </div>
        </div>
    </div>
    <div class="wrapper container-fluid hidden-screen">
        <div class="row">
            <p class="copy col-xs-12"> &copy; Shopping Guararapes. Todos os direitos reservados. / CNPJ.: 41.090.689/0001-70</p>
        </div>
    </div>
    <div class="brands hidden-mobile">
        <div class="wrapper container-fluid">
            <div class="row middle-xs between-xs">
                <div class="col-lg-5">
                    <p class="brands-title">Emreendimento</p>
                    <div class="brand-set">
                        <img src="{BASE_URL_IMG}/layout/third-logos/jcpm.png" alt="Grupo JCPM">
                        <img src="{BASE_URL_IMG}/layout/third-logos/cinapa.png" alt="Grupo CINAPA">
                        <img src="{BASE_URL_IMG}/layout/third-logos/lac.png" alt="LAC">
                    </div>
                </div>
                <div class="col-lg-3">
                    <p class="brands-title">Associações</p>
                    <div class="brand-set">
                        <img src="{BASE_URL_IMG}/layout/third-logos/abrasce.png" alt="ABRASCE">
                        <img src="{BASE_URL_IMG}/layout/third-logos/apesce.png" alt="APESCE">
                    </div>
                </div>
                <div class="col-lg-2">
                    <p class="brands-title">Social</p>
                    <div class="brand-set">
                        <img src="{BASE_URL_IMG}/layout/third-logos/responsabilidade-socioambiental.png" alt="Responsabilidade Socioambiental">
                    </div>
                </div>
                <div class="last-brand-set">
                    <p class="brands-title">ISO 9001</p>
                    <div class="brand-set">
                        <img src="{BASE_URL_IMG}/layout/third-logos/iso-9001.png" alt="Selo ISO 9001">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{INCLUDE_JAVASCRIPT}