<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white">
<link rel="apple-touch-icon" sizes="120x120" href="{BASE_URL_IMG}/base/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{BASE_URL_IMG}/base/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{BASE_URL_IMG}/base/favicon-16x16.png">
<link rel="manifest" href="{BASE_URL_IMG}/base/site.webmanifest">
<link rel="mask-icon" href="{BASE_URL_IMG}/base/safari-pinned-tab.svg" color="#6c1b5c">
<meta name="msapplication-TileColor" content="#6c1b5c">
<meta name="theme-color" content="#ffffff">
<link href="{BASE_URL_CSS}/style.css" rel="stylesheet">
<style>
.screen-reader {display: none;}
.loader {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: white;z-index: 30000000;opacity: 1;}
</style>
{CODE_TOP}