{CODE_MIDDLE}
<div class="loader"></div>
<header class="main-header">
    <div class="wrapper container-fluid">
        <div class="row middle-xs between-xs">
            <div class="col-xs-7 col-md-3 col-lg-3">
                <a href="{BASE_URL}" class="logo-header" title="{PROJECT_NAME}">
                    <img src="{BASE_URL_IMG}/layout/shopping-guararapes-logo.svg" alt="{PROJECT_NAME}">
                </a>
            </div>
            <div class="col-xs-5 hidden-screen">
                <button class="btn btn-menu js-menu-toggle">
                    <span class="btn-box">
                        <i class="btn-inner"></i>
                    </span>
                    <span class="btn-title">Menu</span>
                </button>
            </div>
            <div class="nav-header-wrapper col-xs-12 col-md-9 col-lg-9 js-nav-collapse">
                <nav id="nav" class="nav-header">
                    <ul>
                        <li class="dropdown">
                            <a href="#" class="js-dropdown"><i class="icon i-points hidden-screen"></i>O Shopping</a>
                            <ul class="dropdown-content js-dropdown-content">
                                <li><a href="{BASE_URL}/o-shopping">O Shopping Guararapes</a></li>
                                <li><a href="{BASE_URL}/servicos">Serviços</a></li>
                                <li><a href="{BASE_URL}/como-chegar">Como Chegar</a></li>
                                <li><a href="{BASE_URL}/anuncie-no-shopping">Anuncie no Shopping</a></li>
                                <li><a href="{BASE_URL}/sustentabilidade">Sustentabilidade</a></li>
                                <li><a href="{BASE_URL}/politica-coorporativa">Política Coorporativa</a></li>
                            </ul>
                        </li>
                        <li><a href="{BASE_URL}/lojas"><i class="icon i-store hidden-screen"></i>Lojas</a></li>
                        <li><a href="{BASE_URL}/diversao"><i class="icon i-happy hidden-screen"></i>Diversão</a></li>
                        <li><a href="{BASE_URL}/gastronomia"><i class="icon i-gastronomy hidden-screen"></i>Gastronomia</a></li>
                        <li><a href="{BASE_URL}/eventos-e-novidades"><i class="icon i-events hidden-screen"></i>Eventos e novidades</a></li>
                        <li><a href="{BASE_URL}/contato"><i class="icon i-contact hidden-screen"></i>Contato</a></li>
                        <li class="mobile-anchors"><a href="https://www.intranetmall.com/shoppingguararapes"><i class="icon i-lock"></i>Portal do lojista</a></li>
                        <li class="mobile-anchors"><a href="{BASE_URL}/como-chegar"><i class="icon i-marker"></i>Como chegar</a></li>
                    </ul>
                </nav>
                <nav class="nav-social-mobile hidden-screen">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/shopping-guararapes" target="_blank" title="Facebook">
                                <i class="icon i-facebook"></i>
                                <span class="hide">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/sguararapes" target="_blank" title="Instagram">
                                <i class="icon i-instagram"></i>
                                <span class="hide">Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/SGUARARAPES" target="_blank" title="Twitter">
                                <i class="icon i-twitter"></i>
                                <span class="hide">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://youtube.com/user/sguararapes" target="_blank" title="Youtube">
                                <i class="icon i-youtube"></i>
                                <span class="hide">Youtube</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <nav class="secondary-nav-header">
        <div class="wrapper container-fluid">
            <div class="row">
                <div class="header-inputs-wrapper">
                    <label id="search" for="input-search" class="input-search-group field-wrapper header-inputs">
                        <span class="field-label input-search-label">Nome da loja</span>
                        <input type="text" id="input-search" class="field-input input-search">
                    </label>
                    <select name="store-department" id="store-department" class="chosen-header header-inputs">
                        <option selected disabled>Escolha o setor</option>
                        <!-- BEGIN TYPES -->
                        <option disabled>{TYPE_NAME}</option>
                        <!-- BEGIN CATEGORIES -->
                        <option value="{OBJ_CATEGORY->ID}">{OBJ_CATEGORY->NAME|formatCharacters}</option>
                        <!-- END CATEGORIES -->
                        <!-- END TYPES -->
                    </select>
                </div>
                <div class="secondary-nav-right">
                    <p class="operating-hours"><i class="icon i-clock"></i>{OBJ_INSTITUTIONAL_SCHEDULE->DESCRIPTION|formatCharacters}</p>
                    <a href="https://www.intranetmall.com/shoppingguararapes" target="_blank" class="shopkeepers-portal">
                        <i class="icon i-lock"></i> Portal do lojista
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>